/* header */
.hd_main{
    height: 25px;
    padding: 1rem;
    color: white;
    background: #3300FF61;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* banner */
.img_area{
    align-content: center;
    width: 650px;
    height: 500px;
    overflow: hidden;
    margin: auto;
}
img{
    width: 100%;
    height: auto;
}

/* nav */
.Nav_bar{
    display: flex;
    height: 48px;
    padding: 40px;
}
.Nav_bar button{
    border: 0;
    outline: 0;
    background-color: transparent;
    position:relative;
    width: 100%;
    color: #d3d0cf;
}

.Nav_bar button div{
    font-size: 20px;
    font-weight: bold;
}

.Nav_bar button.selected {
    border-bottom: solid 0.5px;
    color: black;
}



/* product */
.product_area{
    margin: 0 10% 0 10%
/*    display: flex;
    justify-content: center;
    align-items: center;*/
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.product{
    margin: auto;
}